<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zyc.com.myapplication">
    <uses-permission android:name="zyc.com.myapplication.READ_CONTENT"/>
    <permission android:name="zyc.com.myapplication.READ"
        android:protectionLevel="normal"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.qihoo360.plugin.name"
            android:value="plugin2" />
        <provider
            android:authorities="zyc.com.myapplication"
            android:name=".TestProvider"
            android:readPermission="zyc.com.myapplication.READ"
            android:exported="true">
        </provider>
    </application>

</manifest>